<table class="table table-hover" id="sortable">
  <thead>
    <tr>
      <th>Challenge</th>
      <th>Attempts</th>
      <th>Passed</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

  <% @challenges.each do |challenge| %>

    <tr id="challenge_order_<%= challenge.challenge_order %>" >
      <td>
        <a href="/challenges/<%= challenge.id %>"><%= challenge.name %></a>
        </td>
      <td><%= challenge.attempts.count %></td>
      <td><%= challenge.passed_percentage %> %</td>
      <td>
        <a href='/challenges/<%= challenge.id %>/edit' 
           class="btn btn-primary">Edit
         </a>
      </td>

    </tr>

  <% end %>
  </tbody>
</table>

<a  href='/challenges/new' class="btn btn-primary">Create new challenge</a>
<a  id="change-order" class="btn btn-primary">Change challenge order</a>



