<%# if authenticated? %>
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-4 col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Exercises</h3>
        </div>
        <div class="panel-body">
          <div class="list-group" id="challenge-list">
            <% @challenges.each do |challenge| %>
                <a class="list-group-item" id="<%= challenge.id %>" href='/challenges/<%= challenge.id %>' class="challenge-list"><%= challenge.name %>
                </a>
              </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <nav id = "challenge-top" class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
      <ul class="nav nav-tabs">
        <li class="active" id="challenge"><a href="#">Challenge</a></li>
        <li id="attempts"><a href="#">Your Attemtps</a></li>
     </ul>
   </nav>
   <div id="challenge-area" class="col-xs-9 col-sm-9 col-md-8 col-lg-8">
     <div id = "current-challenge" class="col-xs-9 col-sm-9 col-md-12 col-lg-12">
      <%= erb :_challenge, layout: false %>
      </div>
    </div>
      <div id = "current-challenge-attempts" class="col-xs-9 col-sm-9 col-md-12 col-lg-12">
        <%= erb :_current_challenge_attempts %>
      </div>
    </div>
 


<% #else %>
<!-- <div class="jumbotron">
  <h1>Welcome to Enumerable Tutor!</h1>
  <p>Increase your enumerable method-fu with this handy
    in browser tutor</p>
</div> -->
<% #end %>
